Google-Calendar-Event-Handler-n8n-workflow.json
{
  "name": "YT - AI Agent - Calendar",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        -100
      ],
      "id": "2c9e932a-d1eb-468f-8a6c-915f73533350",
      "name": "Telegram Trigger",
      "webhookId": "490f3736-4fca-44b9-864b-66deb01ba0cd",
      "credentials": {
        "telegramApi": {
          "id": "FtZ8LQgmUTS1JMIw",
          "name": "YT - Telegram"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant named \"Ryan AI Agent\".\n\nYou're speaking to  {{ $json.message.chat.first_name }}\n\n\nDate Time for NOW: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        180,
        -100
      ],
      "id": "ddbffe24-7138-45c1-94c0-3a5cb096b300",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "0ee04ef3-9e98-40ad-8de7-59df76f69162",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "J280gTNdXPRDOVDx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        200
      ],
      "id": "b2e82a22-8d37-42e0-a85b-9756db6e7ebb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        -100
      ],
      "id": "12edcfec-ce35-4706-bd63-ee8a10d3c209",
      "name": "Send Message To User",
      "webhookId": "c9a66f55-35ba-471b-9185-72fe49d34c00",
      "credentials": {
        "telegramApi": {
          "id": "FtZ8LQgmUTS1JMIw",
          "name": "YT - Telegram"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hryan.neco@gmail.com",
          "mode": "list",
          "cachedResultName": "hryan.neco@gmail.com"
        },
        "limit": "=50",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        940,
        240
      ],
      "id": "9e05762e-a3f6-4bed-9da0-949a199a3a93",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tk9vRXYM4Hp8weK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hryan.neco@gmail.com",
          "mode": "list",
          "cachedResultName": "hryan.neco@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        820,
        240
      ],
      "id": "5f82503b-8b1b-485e-bc68-66b9f143b10c",
      "name": "Add Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tk9vRXYM4Hp8weK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "hryan.neco@gmail.com",
          "mode": "list",
          "cachedResultName": "hryan.neco@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        680,
        240
      ],
      "id": "4493473e-ad47-4f37-a484-568f1995392d",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7tk9vRXYM4Hp8weK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u1Ttd3Szu-girW4DWWz7zTH47XWecGt73VWSBYUILe0",
          "mode": "list",
          "cachedResultName": "emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u1Ttd3Szu-girW4DWWz7zTH47XWecGt73VWSBYUILe0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u1Ttd3Szu-girW4DWWz7zTH47XWecGt73VWSBYUILe0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        540,
        240
      ],
      "id": "53f39a24-e1c4-444a-beb9-71d0b5c101d7",
      "name": "Emails Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AKsQHoNuAHVfUyaB",
          "name": "YT - N8N - Sheet"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        400,
        240
      ],
      "id": "8dae9f8c-0fb4-47b4-bae7-6a1fc589cb0d",
      "name": "Gmail",
      "webhookId": "940a6d08-5fe1-413a-8ac0-eb8cc2b980dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "45tHCotlmRtYLGZz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Message To User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Emails Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "472a15e9-a0cd-4299-b829-40bf19e0a01a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff504a8653497ac69a96d9696b048da6d070266d00721efbbaf04da10074518c"
  },
  "id": "K3ooUW9Zye8wYyXc",
  "tags": []
}